.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.responsiveContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
  height: 60vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
  height: 50vh;
}
.registerHeading {
  color: #334155;
  font-size: 30px;
}
.registerImage {
  width: 50vw;
  height: 80vh;
}

.userName {
  height: 40px;
  width: 90%;
  border: 1px solid #cbd5e1;
  padding: 5px;
  border-radius: 6px;
  margin-top: 10px;
  outline: none;
}
.selectContainer {
  height: 40px;
  width: 90%;
  border: 1px solid #cbd5e1;
  padding: 5px;
  border-radius: 6px;
  margin-top: 10px;
  outline: none;
}

.label {
  color: #64748b;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.registerNowButton {
  color: #ffffff;
  background-color: #3b82f6;
  padding: 6px;
  border-radius: 6px;
  border: none;
  height: 40px;
  width: 120px;
  margin-top: 12px;
}

.errorMsg {
  color: #ff0b37;
  font-size: 12px;
}
@media screen and (max-width: 576px) {
  .registerContainer {
    width: 500px;
  }
  .responsiveContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 90%;
  }
  .registerImage {
    width: 400px;
    height: 400px;
  }
  .formContainer {
    width: 400px;
    height: 400px;
  }
}
